*{
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #BF0079;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    background-color: whitesmoke;
}

p{
    color: black;
}

h1{
    font-size: 3.052rem;
}

h2{
    font-size: 2.441rem;
}

h3{
    font-size: 1.953rem;
}

h4{
    font-size: 1.563rem;
}

h5{
    font-size: 1.25rem;
}

header{
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
}

a:link{
    text-decoration: none;
    font-weight: 300;
}

a:hover{
    color: black;
    transition: ease-out 0.5s;
    background-color: #BF0079;
}

i:hover{
    color: black;
    transition: ease-out 0.5s;
}

footer{
    box-shadow: 0 50vh 0 50vh #fae6f3;
}

footer a:hover {
    background-color: initial;
    transition: none;
}

main h4:hover{
    text-decoration: underline #BF0079;
    transition: ease-in-out 1s;
}

main h5:hover{
    text-decoration: underline #BF0079;
    transition: ease-in-out 1s;
}

@media(min-width:1115px){

    #kolica-big{
        display: block;
    }

    #kolica-small{
        display: none;
    }

    nav ul{
        list-style: none;
        padding-left: 50px;
        padding: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        font-size: larger;
    }
    
    li{
        width: 90%;
        margin: 0 auto;
    }
    
    li a{
        width: 100%;
        font-size: 1.563rem;
        padding: 10px;
        white-space: nowrap;
    }
    
    a:link{
        text-decoration: none;
        color: black;
    }

    .wrapper{
        width: 75%!important;
        display: flex;
        position: relative;
        z-index: 2;
        background-color: whitesmoke;
        border-bottom: lightgray solid 1px;
    }
    
    header img{
        height: 50px;
        margin: 0 auto;
        display: block;  
    }
    
    nav{
        display: flex;
        width: 100%;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 90px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        margin-top: 9px;
    }
    
    .dropdown-content a{
        width: 80%;
        font-size: 1.25rem;
        float: left;
    }

      
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    a img {
        text-decoration: none;
        border: 0 none;
    }
    
    header a i{
        height: 40px!important;
        float: right;
        font-size: 2rem;
        padding-top: 10px;
    }

    header a i:hover{
        background-color: whitesmoke;
        transition: 1ms;
    }

    ul li:nth-child(5) a{
        margin: 0 auto;
        padding: 0; 
    }

    ul li:nth-child(1){
        margin: 0 auto;
        padding-left: 5%; 
    }

    main{
        margin: 0 auto;
        width: 75%;
        margin: 0 auto;
    }

    main h1{
        padding-top: 45px;
        text-align: center;
        margin-bottom: 50px;
        display: block;
        clear: both;
    }

    main p{
        clear: both;
        line-height: 1.5;
        text-align: left;
    }

    main h4{
        margin: 0;
        text-align: left;
        padding: 5px 0;
        width: 60%;
        float: left;
        white-space: nowrap;
        font-weight: 400;
    }

    main h5{
        clear: both;
        text-align: left;
        float: left;
        width: 40%;
        margin: 0;
        padding-bottom: 10px;
        font-weight: bold;
    }

    article img{
        display: block;
        margin: 0 auto;
        width: 100%;
        clear: both;
    }

    article{
        width:75%;
        background-color: #fae6f3;
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    article img{
        width: 100%;
        max-height: 800px;
    }

    .item{
        width: 25%;
        display: block;
        float: left;
        margin-left: 4.16%;
        margin-right: 4.16%;
        margin-bottom: 50px;
    }

    .item:nth-of-type(3n+1){
        width: 25%;
        display: block;
        float: left;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 8.32%;
    }

    .item:nth-of-type(3n){
        width: 25%;
        display: block;
        float: left;
        margin-bottom: 50px;
        margin-left: 8.32%;
        margin-right: 0;
    }

    .item img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    main .item img:hover{
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.965);
        transition: ease-out 0.2s;
    }

    footer{
        clear: both;
        background-color: #fae6f3!important;
        display: block;
        width: 75%;
    }

    footer a{
        font-size: 1.25rem;
        display: block;
    }

    footer a:link{
        color: #BF0079;
    }

    footer a:link:hover{
        color: black;
    }

    footer .item img{
        float: left;
        width: 50%;
        display: block;
        margin: 0 auto;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    footer .item{
        float: left;
        width: 25%;
        display: block;
        margin-left: 3.16%;
        margin-right: 3.16%;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    footer i{
        display: block;
        font-size: 2.441rem;
        padding-top: 20px;
    }   

    .icofont-navigation-menu::before{
        display: none;
    }

}


@media(max-width: 575px){

    #kolica-big{
        display: none;
    }

    #kolica-small{
        display: block;
    }

    header{
        display: block;
        float: left;
        justify-content: space-between;
        
    }

    header img{
        width: 50%;
        margin: 0 25%;
        display: block;
        float: left;
    }

    header ul{
        width: 100%;
        display: block;
        padding: 0;
    }

    nav{
        font-size: medium!important;
        display: none;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        font-size: larger;
        width: 100%;
    }

    .kolica i{
        height: 30px!important;
        float: right;
        font-size: 2rem;
        padding-top: 30px;
        padding-right: 15px;
    }

    .kolica:hover{
        background-color: whitesmoke;
        transition: 1ms linear;
    }

    .icofont-navigation-menu::before{
        float: left!important;
        font-size: 2rem;
        padding-left: 15px;
        padding-top: 30px;
    }

    i:hover{
        color: #BF0079;
    }

    li{
        display: block;
        align-items: center;
        width: 100%;
        margin: 0;
        float: left;
    }

    li a{
        display: block;
        width: 90%;
        white-space: nowrap;
        padding-left: 15px;
        font-size: 1.25rem;
        line-height: 1.5;
        margin: 5px 0;
    }

    a:hover{
        background-color: inherit;
    }

    li a:hover{
        background-color: #BF0079;
    }

    ul li:nth-child(5) a{
        margin: 0 auto;
        padding: 0; 
        width: 30px;
        float: right;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 75px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown-content a{
        width: 100%;
        float: left;
    }
    
    main{
        margin: 0 auto;
        width: 90%;
        margin: 0 auto;
    }

    main h1{
        text-align: center;
        margin-bottom: 50px;
    }

    main p{
        clear: both;
        line-height: 1.5;
        text-align: left;
    }

    main h4{
        margin: 0;
        text-align: left;
        padding: 5px 0;
        width: 60%;
        float: left;
        white-space: nowrap;
        font-weight: 400;
    }

    main h5{
        clear: both;
        text-align: left;
        float: left;
        width: 40%;
        margin: 0;
        padding-bottom: 10px;
        font-weight: bold;
    }

    article{
        background-color: none;
        background-color: transparent;
        float: left;
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: block;
        position: relative;
        z-index: -1;
        width: 100%;
    }

    article img{
        float: left;
        display: block;
        margin: 0 auto; 
        width: 100%!important; 
    }

    .item{
        width: 89%;
        display: block;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 50px;
    }

    .item img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    footer{
        clear: both;
        background-color: #fae6f3!important;
        display: block;
        width: 100%;
    }

    footer a{
        font-size: 1.25rem;
        display: block;
    }

    footer .item img{
        width: 50%;
        padding-bottom: 15px;
    }

    footer .item{
        width: 90%;
        display: block;
        margin-left: 3.16%;
        margin-right: 3.16%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    footer i{
        display: block;
        font-size: 2.441rem;
        padding-top: 20px;
    }

}

@media(min-width: 575px) and (max-width: 1115px){

    #kolica-big{
        display: block;
    }

    #kolica-small{
        display: none;
    }

    nav{
        display: flex;
        width: 100%;
    }

    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    
    li{
        width: 90%;
        margin: 0 auto;
    }
    
    li a{
        width: 100%;
        font-size: 1.25rem;
        padding: 10px;
        white-space: nowrap;
    }

    header a i{
        height: 40px!important;
        float: right;
        font-size: 2rem;
        padding-right: 20px;
        padding-top: 10px;
    }
    
    header a i:hover{
        background-color: whitesmoke;
        transition: 0ms;
    }

    a:link{
        text-decoration: none;
        color: black;
    }

    .wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        border-bottom: lightgray solid 1px;
    }
    
    header img{
        height: 50px;
        margin: 0 auto;
        display: block;  
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 12px;
        z-index: 1;
        margin-top: 10px;
    }
    
    .dropdown-content a{
        width: 75%;
        float: left;
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }

    a img {
        text-decoration: none;
        border: 0 none;
    }
    
    li img{
        height: 30px;
        margin-right: 10px;
        float: right;
    }

    ul li:nth-child(5) a{
        margin: 0 auto;
        padding: 0; 
    }

    ul li:nth-child(1){
        margin: 0 auto;
        padding-left: 5%; 
    }

    main{
        margin: 0 auto;
        width: 90%;
        margin: 0 auto;
    }

    main h1{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 45px;
    }

    main p{
        clear: both;
        line-height: 1.5;
        text-align: left;
    }

    main h4{
        margin: 0;
        text-align: left;
        padding: 5px 0;
        width: 60%;
        float: left;
        white-space: nowrap;
        font-weight: 400;
    }

    main h5{
        clear: both;
        text-align: left;
        float: left;
        width: 40%;
        margin: 0;
        padding-bottom: 10px;
        font-weight: bold;
    }


    .item{
        width: 30%;
        display: block;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 50px;
    }

    .item img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .item img:hover{
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.965);
        transition: ease-out 0.2s;
    }

    .item:nth-of-type(3n+1){
        width: 30%;
        display: block;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .item:nth-of-type(3n){
        width: 30%;
        display: block;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }


    footer{
        clear: both;
        background-color: #fae6f3!important;
        display: block;
        width: 90%;
        }

    footer a{
        font-size: 1.25rem;
        display: block;
    }

    footer a:link{
        color: #BF0079;
    }

    footer a:link:hover{
        color: black;
    }

    footer .item img{
        float: left;
        width: 50%;
        display: block;
        margin: 0 auto;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    footer .item{
        float: left;
        width: 25%;
        display: block;
        margin-left: 3.16%;
        margin-right: 3.16%;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    footer i{
        display: block;
        font-size: 2.441rem;
        padding-top: 20px;
    }

    article{
        width: 90%;
        background-color: whitesmoke;
    }

    article img {
        width: 100%!important;
    }

    .icofont-navigation-menu::before{
        display: none;
    }
}
